body{
  background-color: #393E46;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card{
  padding: 40px;
  background-color: #EEEEEE;
  border-radius: 10px;
  box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
}

form div{
  margin: 10px 0px;
}

label {
  font-weight: 600;
}

.first-form-btn{
  color: #EEEEEE;
  background-color: #FA6C17;
  width: 150px;
  border-radius: 10px;
  height: 45px;
  border: none;
  font-weight: 600;
}

.first-form-btn:hover{
  background-color: #f79257;
  transition: .2s;
  transform: scale(1.1);
}