<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Ventas</title> 
    <link rel="stylesheet" type="text/css" href="index.css" >
</head>
<body>
    <div id="app" class="container mt-3">

        <div class="contenedor">
            <div class="logout">
                <button class="boton-logout">logout</button>
            </div>

            <div class="titulo">
                <h1>Ventas</h1>
            </div>

            <div class="inpu ">
                <div class="nombre">
                    <span>Cliente:</span>
                </div> 
                <input type="text"  placeholder="Identificación"> 
            </div>

            <div class="catalogo">
                
                <div>
                    <h2>Repuestos</h2>
                </div> 

                <div class="catalogo-container">
                    <div  class="" v-for="(repuesto, index) of repuestos">
                                    
                        <div class="prod ">
                            <div class="left">
                                <img :src="repuesto.imagen"  alt="">
                            </div>
                            <div class="cen">
                                <div  class="up">
                                    {{repuesto.nombre}}
                                </div>
                                <div class="price">
                                    ${{repuesto.valor}}usd
                                </div>
                                <div  class="down">
                                    {{repuesto.cantidad}} und
                                </div>
                            </div>
                            <div class="right">
                                <button class="plus" @clicK="agregar(repuesto.id)"> + </button> 
                            </div> 
                        </div> 
                    </div> 

                </div>
  
            </div>
            <br>
            <div class="Factura-container">
                
                <div>
                    <h2>Factura</h2>
                </div> 

                <div class="factura">  
                    <table class="table"> 
                         <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                            </tr>
                         </thead>
                         <tbody v-if="factura === []"> 
                            <tr>
                                <th scope="row"> </th>
                                <td> </td>
                                <td>
                                    <div class="row align-self-center align-self-center">
                                        <div class="col px-0  text-center  ">
                                        0
                                        </div>
                                    </div>
                                </td>
                                <td> $ 0 usd</td>
                                </tr >                     
                         </tbody>
                         <tbody v-else>
                                     
                            <tr v-for="(item, index) of factura">
                                <th scope="row">{{index}}</th>
                                <td>{{item.nombre}}</td>
                                <td>
                                <div class="row align-self-center align-self-center">
                                    <div class="col px-0  text-center  ">
                                        {{item.cantidad}} und
                                    </div>
                                    <div class="col px-0 t">
                                        <button class="btn btn-success" @click="aumentar(item.id, index)"> + </button>
                                        <button class="btn btn-danger "  @click="restar(item.id, index)"> - </button>
                                    </div>
                                </div>
                                </td>
                                <td> $ {{item.valor}} usd</td>
                            </tr> 
                         </tbody>
                    
                    </table>
                    
                </div>

                <div class="row pr-5">
                    <div class="col text-right">
                        <h3>
                            Total: 00 usd 
                        </h3>
                            

                    </div>
                </div>

                <div class="guar">
                    <button class="guardar">Guardar</button>
                </div>
  
            </div>
        </div>
        

    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</html>
 