<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taller de mecanica</title>
    
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <section id="app">
      <div v-for="(car, index) in carsEntries">
        {{ car }}
        <button @click="findCarToChange(index)">Revisar</button>
      </div>
<div>
      <div>
        <h4>Failures</h4>
        <input v-model="failureInput" />
        <button @click="addFailure">Add failure</button>

        <div v-for="fail in failures">
          {{ fail }}
        </div>
      </div>

      <div>
        <h4>Parts to use</h4>
        <form>
          <input v-model="partInput" />
        <input
          placeholder="cantidad"
          type="number"
          v-model="partQuantityInput"
        />
        </form>
        
        <button @click="addPart">Add part</button>

        <div v-for="part in usedParts">
          {{ part }}
        </div>
      </div>
      <h4>Vehiculo reparado:</h4>
      <input type="checkbox" v-model="isRepaired" />

      <button @click="finishRevision">Save</button>

    </div>
      <div>
        <h1>Chequeo pre-entrega</h1>
        <form>
          <div v-for="check in checkups">
            <input type="checkbox" v-model="check.done">{{check.name}}</input>
          </div>

        </form>
       <button @click="finishCheckup">Terminar chequeo</button>
      </div>
    </section>

    <script src="./index.js"></script>
  </body>
</html>
