body {
    background-color: #393E46;
}
#revisiones{
    background-color: #FFFFFF;
    border-radius: 15px;
}

#revisionesP{
    background-color: #D0D0D0;
    border-radius: 15px;
}

#btnGuardar{
    background-color: #FA6C17;
    color: #FFFFFF;
}