<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DB</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <section id="app">
      <!-- Revisiones pendientes -->
      <div
        v-if="isPendingRevisionsScreen"
        id="revisiones"
        class="container mt-5 mb-5 w-50-responsive border"
      >
     
        <div class="d-flex justify-content-end container">
         
          <button
            id=""
            type="button"
            class="btn btn-danger btn-sm mt-3 mr-3 rounded-5"
          >
            Logout
          </button>
        </div>
        <h3 class="font-weight-bold text-center">Revisiones Pendientes</h3>
        <div
          id="revisionesP"
          class="container mt-2 mb-5 w-50-responsive border"
        >
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Vehículo</th>
                <th>Estado</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="car in carsEntries">
                <td>{{ car.entryDate }}</td>
                <td>{{ car.brand }}, {{ car.model }}, {{ car.plate }}</td>
                <td>{{ car.state }}</td>
                <td class="text-center">
                  <button v-if="car.state === 'Para entrega'" class="btn btn-success" @click="facturar(car) ">Facturar</button>
                  <button  v-else class="btn btn-info" @click="findCarToChange(car)">Ver</button>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Revision -->
      <div
        v-if="isRevisionScreen"
        id="revisiones"
        class="container mt-5 mb-5 w-50-responsive border"
      >
        <div class="d-flex justify-content-end container">
          <button
            id=""
            type="button"
            class="btn btn-warning btn-sm mt-3 mr-3 rounded-5"
            @click="isPendingRevisionsScreen=true;isRevisionScreen= false"
          >
            Volver
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm mt-3 mr-3 rounded-5"
          >
            Logout
          </button>
        </div>
        <h3 class="font-weight-bold text-center">Revision</h3>

        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Placa:</th>
              <th>Marca:</th>
              <th>Modelo:</th>
              <th>Mecánico:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input
                  type="text"
                  class="form-control rounded-5"
                  :value="carToChange.plate"
                  readonly="readonly"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control rounded-5"
                  :value="carToChange.brand"
                  readonly="readonly"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control rounded-5"
                  :value="carToChange.model"
                  readonly="readonly"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control rounded-5"
                  :value="assignedWorker.fullName"
                  readonly="readonly"
                />
              </td>
            </tr>
          </tbody>

          <table class="table table-borderless">
            <thead>
              <tr>
                <th>Falla:</th>
                <th>Repuestos: <button type="button" class="btn btn-primary btn-sm rounded-2" @click="showModal = true">Buscar</button></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input
                    v-model="failureInput"
                    type="text"
                    class="form-control-md rounded-5"
                  /><button
                    type="button"
                    class="btn btn-success btn-sm rounded-2"
                    @click="addFailure"
                  >
                    +
                  </button>
                  <div v-for="fails in failures">
                    
                    <div v-if="fails.car==carToChange.plate"> 
                      {{ fails.failure }}
                      <button
                      type="button"
                      class="btn btn-danger btn-sm rounded-2"
                      @click="quitFailure(fails.failure,carToChange.plate)"
                    >
                      -
                    </button>
                    </div>
                   
                    
                  </div>
                </td>
                <td>
                  <div>
                    
                    <table class="table"> 
                        <thead>
                          <tr>
                              <th scope="col">#</th>
                              <th scope="col">Producto</th>
                              <th scope="col">Cantidad</th>  
                          </tr>
                        </thead>
                        <tbody >
                                    
                          <tr v-for="(item, index) of detalle">
                              <th scope="row">{{index}}</th>
                              <td>{{item.nombre}}</td>
                              
                              <td>
                                <div class="row align-self-center align-self-center">
                                    <div class="col px-0  text-center  ">
                                        {{item.cantidad}} und
                                    </div>
                                    <div class="col px-0 t">
                                        <button class="btn btn-success" @click="aumentar(item.id, index)"> + </button>
                                        <button class="btn btn-danger "  @click="restar(item.id, index)"> - </button>
                                    </div>
                                </div>
                              </td> 
                               
                          </tr> 
                        </tbody>
                  
                  </table>



                  </div>
                  
                </td>
              </tr>
              <tr>
                
              </tr>
            </tbody>
          </table>
          
          <div>
            <input v-model="isRepaired" type="checkbox">&nbsp&nbsp Vehículo reparado</div>
            <br>
            <button class="btn btn-warning btn-sm rounded-2" @click="finishRevision" >Terminar revisión</button>
            
          </div>
          <br>
        
      </div>

      <!-- Modal Catalogo Repuestos -->
        
        <div v-if="showModal">
          <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                  <div class="modal-container">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                              
                            <div class="catalogo">
                                
                              <div>
                                  <h2 style="text-align: center;">Repuestos</h2>
                              </div> 
                              <br>
                              <div class="catalogo-container">
                                  <div  class="" v-for="(repuesto, index) of repuestos">
                                                  
                                      <div class="prod ">
                                          <div class="left">
                                              <img :src="repuesto.imagen"  alt="">
                                          </div>
                                          <div class="cen">
                                              <div  class="up">
                                                  {{repuesto.nombre}}
                                              </div>
                                              <div class="price">
                                                  ${{repuesto.valor}}usd
                                              </div>
                                              <div  class="down">
                                                  {{repuesto.cantidad}} und
                                              </div>
                                          </div>
                                          <div class="right">
                                              <button class="plus" @clicK="agregar(repuesto.id)"> + </button> 
                                          </div> 
                                      </div> 
                                  </div> 
  
                              </div>
  
                          </div>
   
                          </div>
                          <div class="col text-center pt-3">
                              <button type="button" class="guardar" @click="showModal = false">Guardar</button>
                      
                          </div>
                        </div>
                    </div>

                  </div>
                </div>
            </div>
          </transition>
        </div>



      <!-- Repuestos -->
      <div
        v-if="isPartsScreen"
        id="revisiones"
        class="container mt-5 mb-5 w-50-responsive border"
      >
        <div class="d-flex justify-content-end container">
          <button
            type="button"
            class="btn btn-close btn-danger btn-sm mt-3 mr-3 rounded-5"
          ></button>
        </div>

        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Aqui estara el repuesto</th>
              <th>Aqui estara el repuesto</th>
              <th>Aqui estara el repuesto</th>
            </tr>
          </thead>
        </table>
        <div class="d-flex justify-content-center">
          <button id="btnGuardar" class="btn btn-sm rounded-4">Guardar</button>
        </div>
      </div>

      <!-- Chequeo -->
      <div
        v-if="isPreDeliverCheckScreen"
        id="revisiones"
        class="container mt-5 mb-5 w-50-responsive border"
      >
        <div class="d-flex justify-content-end container">
          <button
            id=""
            type="button"
            class="btn btn-warning btn-sm mt-3 mr-3 rounded-5"
            @click="isPreDeliverCheckScreen=false;isPendingRevisionsScreen=true"
          >
            Volver
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm mt-3 mr-3 rounded-5"
          >
            Logout
          </button>
        </div>
        <h3 class="font-weight-bold text-center">Chequeo pre-entrega</h3>

        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Placa:</th>
              <th>Marca:</th>
              <th>Modelo:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input
                  type="text"
                  class="form-control rounded-5"
                  :value="carToChange.plate"
                  readonly="readonly"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control rounded-5"
                  :value="carToChange.brand"
                  readonly="readonly"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control rounded-5"
                  :value="carToChange.model"
                  readonly="readonly"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">

          <div v-for="check in checkups">
            <input type="checkbox" v-model="check.done">&nbsp&nbsp&nbsp&nbsp{{check.name}}&nbsp&nbsp&nbsp&nbsp</input> 
          </div>
          
          
          

          <!-- <table class="table table-borderless">
            <thead>
              <tr>
                <th class="text-center">
                  Llantas <input class="form-check-input" type="checkbox" />
                </th>
                <th class="text-center">
                  Llantas <input class="form-check-input" type="checkbox" />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="text-center">
                  Llantas <input class="form-check-input" type="checkbox" />
                </th>
                <th class="text-center">
                  Llantas <input class="form-check-input" type="checkbox" />
                </th>
              </tr>
            </tbody>
          </table> -->
        </div>
        <div class="d-flex justify-content-center">
        <button
          id=""
          type="button"
          class="btn btn-warning btn-sm mt-3 mr-3 rounded-5 "
          @click="finishCheckup"
        >
         Finalizar chequeo
        </button>
      </div>

</div>
        <!-- Factura -->
        <div v-if="isFactura" id="revisiones" class="container mt-5 mb-5 w-50-responsive border">
          <div class="d-flex justify-content-end container">
            <button
              id=""
              type="button"
              class="btn btn-danger btn-sm mt-3 mr-3 rounded-5"
            >
              Logout
            </button>
          </div>
          <h3 class="font-weight-bold text-center">Factura</h3>
          <div
            id="revisionesP"
            class="container mt-2 mb-5 w-50-responsive border"
          >
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Repuesto</td>
                  <td>1 &nbsp<button type="button" class="btn btn-danger btn-sm rounded-2">-</button>&nbsp<button type="button" class="btn btn-success btn-sm rounded-2">+</button></td>
                  <td>100</td>
                </tr>
              </tbody>
              
            </table>
            
          </div>
          <p class="text-end fw-bold">Total = 100</p>
          <div class="d-flex justify-content-center">
            <button id="btnGuardar" class="btn btn-sm rounded-4">Guardar</button>
          </div>
          
        </div>

    </section>

    <script src="index.js"></script>
  </body>
</html>
