body {
    background-color: #393E46;
}
#revisiones{
    background-color: #FFFFFF;
    border-radius: 15px;
}

#revisionesP{
    background-color: #D0D0D0;
    border-radius: 15px;
}

#btnGuardar{
    background-color: #FA6C17;
    color: #FFFFFF;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: table;
    transition: opacity .3s ease;
}
  
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
 
}

.catalogo-container{  
     
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


.prod{
    background-color: #D9D9D9 ;
    border-radius: 25px;
    width: 320px;
    height: 100px;
    box-shadow: 5px 5px 4px #999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    
}

.left {
    width: 110px;
    height: 100px; 
}

img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 25px 0 0 25px;
}


.cen{
    width: 120px;
    height: 100px; 
    text-align: center;
    border: 1px solid #818080;
}

.right{
    width: 100px;
    height: 100px; 
    text-align: center;
}

.plus{
    background-color: #393E46;
    border-color:  #393E46;;
    color: #ffff;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    height: 60px;
    width: 60px;
    font-size: 30px;
    cursor: pointer;
}

.plus:hover{
    background-color: #434d5c;
}

.up{
    border-bottom: 1px solid #818080;
    font-family: 'Franklin Gothic Medium';
    font-size: 14px;
}

.price{
    border-bottom: 1px solid #818080;
    font-family: 'Franklin Gothic Medium';
    padding: 10px;
}

.down{   
    padding-top: 5px;
    font-family: 'Franklin Gothic Medium';
    font-size: 12px;
}

.modal-container{
    background-color: #EEEEEE;
    border-radius: 25px;
    margin: 2%;
    padding: 2%;
}

.guardar{
    background-color: #FA6C17;
    border-color:  #FA6C17;;
    color: #ffff;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
}

.guardar:hover{
    background-color: #e96215;
    border-color:  #e96215;;
}
 